


* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.navbar-brand{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  
}



header{
    margin-bottom: 90px;


}

.hero-section{
    margin-bottom: 30px;
}





a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}



.carousel-item{
    height: 50vh;
    
    
}
