
* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
    padding-top: 80px;
    gap: 20px;
}

.navbar-brand{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  
}

h1{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    margin-bottom: 60px;
}

.hero-section{
    margin-bottom: 30px;
}

a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.carousel-item{
    height: 50vh;
    margin-bottom: 30px;
}

.catalogo-livro {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 20px;           
    padding: 20px;
}

.catalogo-livro img {
    object-fit: cover;
    height: 100%;
}

/* Centraliza o formulário */
.formulario-contato {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}


